**Vindiata Consulting Casestudy - Game Data of ABC Company**

**Step 1:**

**Importing necessary libraries**

**Importing data with correct path**

**Checking the data by using head**

In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [33]:
deposit_data = pd.read_excel('/kaggle/input/vindiata-consulting-assignment-data/Deposit Data.xlsx',skiprows=3,header=0)
deposit_data.head(5)

   User Id             Datetime  Amount
0      357  2022-01-10 00:03:00    2000
1      776  2022-01-10 00:03:00    2500
2      492  2022-01-10 00:06:00    5000
3      803  2022-01-10 00:07:00    5000
4      875  2022-01-10 00:09:00    1500

In [34]:
withdrawal_data = pd.read_excel('/kaggle/input/vindiata-consulting-assignment-data/Withdrawal Data.xlsx',skiprows=3,header=0)
withdrawal_data.head(5)

   User Id             Datetime  Amount
0      190  2022-01-10 00:03:00    5872
1      159  2022-01-10 00:16:00    9540
2      164  2022-01-10 00:24:00     815
3      946  2022-01-10 00:29:00   23000
4      763  2022-01-10 00:40:00    9473

In [35]:
gameplay_data = pd.read_excel('/kaggle/input/vindiata-consulting-assignment-data/User Gameplay data.xlsx',skiprows=3,header=0)
gameplay_data.head(5)

   User ID  Games Played             Datetime
0      851             1  2022-01-10 00:00:00
1      717             1  2022-01-10 00:00:00
2      456             1  2022-01-10 00:00:00
3      424             1  2022-01-10 00:00:00
4      845             1  2022-01-10 00:00:00

In [36]:
gameplay_data['Datetime'] = pd.to_datetime(gameplay_data['Datetime'])
withdrawal_data['Datetime'] = pd.to_datetime(withdrawal_data['Datetime'])
deposit_data['Datetime'] = pd.to_datetime(deposit_data['Datetime'])

In [37]:
gameplay_data

        User ID  Games Played            Datetime
0           851             1 2022-01-10 00:00:00
1           717             1 2022-01-10 00:00:00
2           456             1 2022-01-10 00:00:00
3           424             1 2022-01-10 00:00:00
4           845             1 2022-01-10 00:00:00
...         ...           ...                 ...
355261      658             1 2022-10-31 23:59:00
355262      582             1 2022-10-31 23:59:00
355263      272             1 2022-10-31 23:59:00
355264      563             1 2022-10-31 23:59:00
355265      289             1 2022-10-31 23:59:00

[355266 rows x 3 columns]

In [38]:
deposit_data

       User Id            Datetime  Amount
0          357 2022-01-10 00:03:00    2000
1          776 2022-01-10 00:03:00    2500
2          492 2022-01-10 00:06:00    5000
3          803 2022-01-10 00:07:00    5000
4          875 2022-01-10 00:09:00    1500
...        ...                 ...     ...
17433      654 2022-10-31 23:57:00    1200
17434      980 2022-10-31 23:58:00     200
17435        2 2022-10-31 23:58:00   40000
17436      612 2022-10-31 23:58:00    2800
17437      786 2022-10-31 23:59:00   20000

[17438 rows x 3 columns]

In [39]:
withdrawal_data

      User Id            Datetime  Amount
0         190 2022-01-10 00:03:00    5872
1         159 2022-01-10 00:16:00    9540
2         164 2022-01-10 00:24:00     815
3         946 2022-01-10 00:29:00   23000
4         763 2022-01-10 00:40:00    9473
...       ...                 ...     ...
3561      559 2022-10-31 23:27:00    5000
3562      407 2022-10-31 23:51:00    3000
3563      389 2022-10-31 23:56:00   14481
3564       11 2022-10-31 23:57:00    4000
3565      112 2022-10-31 23:58:00    1604

[3566 rows x 3 columns]

In [40]:
deposit_data['Datetime'] = pd.to_datetime(deposit_data['Datetime'], format='%Y-%m-%d %H:%M:%S')
withdrawal_data['Datetime'] = pd.to_datetime(withdrawal_data['Datetime'], format='%Y-%m-%d %H:%M:%S')
gameplay_data['Datetime'] = pd.to_datetime(gameplay_data['Datetime'], format='%Y-%m-%d %H:%M:%S')

**Step 2 :**

**Filtering the data by Slot S1 and S2**

In [41]:
# Function to filter data by slot
def get_slot_data(df, date, slot):
    """Filters data for a given date and slot."""
    # Convert 'date' to a pd.Timestamp object
    date = pd.Timestamp(date)
    
    if slot == 'S1':  # Slot S1: 12 am - 11:59 am
        start, end = date.replace(hour=0, minute=0), date.replace(hour=11, minute=59)
    elif slot == 'S2':  # Slot S2: 12 pm - 11:59 pm
        start, end = date.replace(hour=12, minute=0), date.replace(hour=23, minute=59)
    
    # Filter data within the given time range
    return df[(df['Datetime'] >= start) & (df['Datetime'] <= end)]


**PART A (Calculating Loyalty Points)**

**Step 3:**

**Create a function that calculates Loyalty Points with the formula given**

In [42]:
# Function to calculate loyalty points
def calculate_loyalty_points(user_id, games_played, deposit_amount, withdrawal_amount, deposit_count, withdrawal_count):
    points = (0.01 * deposit_amount) + \
             (0.005 * withdrawal_amount) + \
             (0.001 * max(deposit_count - withdrawal_count, 0)) + \
             (0.2 * games_played)
    return points

**Question No: 1**

**Find Playerwise Loyalty points earned by Players in the following slots:-**

**2nd October Slot S1**

**16th October Slot S2**

**18th October Slot S1**

**26th October Slot S2**

In [43]:
slot_info = [
    {'date': '2022-10-02', 'slot': 'S1'},
    {'date': '2022-10-16', 'slot': 'S2'},
    {'date': '2022-10-18', 'slot': 'S1'},
    {'date': '2022-10-26', 'slot': 'S2'}
]

results = []

**Question No:2**


**Calculate overall loyalty points earned and rank players on the basis of loyalty points in the month of October.**

In [44]:
# Loop through each date and slot combination to calculate loyalty points
for slot_detail in slot_info:
    # Extract date and slot information
    date_str = slot_detail['date']
    slot = slot_detail['slot']
    date = pd.to_datetime(date_str, format='%Y-%m-%d')
    
    # Filter gameplay, deposit, and withdrawal data for the current slot
    games_data = get_slot_data(gameplay_data, date, slot)
    deposit_data_slot = get_slot_data(deposit_data, date, slot)
    withdrawal_data_slot = get_slot_data(withdrawal_data, date, slot)
    
    # Identify unique user IDs across all data types for the slot
    unique_user_ids = set(games_data['User ID']).union(deposit_data_slot['User Id'], withdrawal_data_slot['User Id'])
    
    # Calculate loyalty points for each user in the current slot
    for user_id in unique_user_ids:
        # Sum up games played, deposit amounts, and withdrawal amounts
        total_games_played = games_data[games_data['User ID'] == user_id]['Games Played'].sum()
        total_deposit_amount = deposit_data_slot[deposit_data_slot['User Id'] == user_id]['Amount'].sum()
        total_withdrawal_amount = withdrawal_data_slot[withdrawal_data_slot['User Id'] == user_id]['Amount'].sum()
        
        # Count deposit and withdrawal occurrences
        deposit_transactions = deposit_data_slot[deposit_data_slot['User Id'] == user_id].shape[0]
        withdrawal_transactions = withdrawal_data_slot[withdrawal_data_slot['User Id'] == user_id].shape[0]
        
        # Compute loyalty points using the provided formula
        loyalty_points = calculate_loyalty_points(
            user_id, total_games_played, total_deposit_amount, 
            total_withdrawal_amount, deposit_transactions, withdrawal_transactions
        )
        
        # Append the results to the list
        results.append({
            'User Id': user_id, 
            'Date': date_str, 
            'Slot': slot, 
            'Loyalty Points': loyalty_points
        })

In [45]:
# Convert results to DataFrame
results_df = pd.DataFrame(results)
print("Loyalty Points for specified slots:\n", results_df)

Loyalty Points for specified slots:
       User Id        Date Slot  Loyalty Points
0           2  2022-10-16   S2           0.400
1           5  2022-10-16   S2          11.802
2           6  2022-10-16   S2           0.200
3           8  2022-10-16   S2           1.000
4           9  2022-10-16   S2          30.201
...       ...         ...  ...             ...
1839      992  2022-10-26   S2         158.800
1840      995  2022-10-26   S2           0.200
1841      996  2022-10-26   S2           0.800
1842      997  2022-10-26   S2           0.400
1843      999  2022-10-26   S2           0.200

[1844 rows x 4 columns]

In [46]:

# Define the date range for October
october_start = pd.Timestamp('2022-10-01')
october_end = pd.Timestamp('2022-10-31 23:59')

In [47]:

games_october = gameplay_data.query('@october_start <= Datetime <= @october_end')
deposits_october = deposit_data.query('@october_start <= Datetime <= @october_end')
withdrawals_october = withdrawal_data.query('@october_start <= Datetime <= @october_end')

In [49]:
# Initialize a dictionary to store loyalty points and games played for each user
user_points = {}

In [50]:

# Set of all unique user IDs in October data
unique_users = set(games_october['User ID']).union(deposits_october['User Id'], withdrawals_october['User Id'])

# Loop over each unique user and calculate loyalty points
for user_id in unique_users:
    # Aggregate games played, deposit amount, and withdrawal amount for each user
    games_played = games_october.query('`User ID` == @user_id')['Games Played'].sum()
    deposit_amount = deposits_october.query('`User Id` == @user_id')['Amount'].sum()
    withdrawal_amount = withdrawals_october.query('`User Id` == @user_id')['Amount'].sum()
    
    # Count the number of deposit and withdrawal transactions
    deposit_count = deposits_october.query('`User Id` == @user_id').shape[0]
    withdrawal_count = withdrawals_october.query('`User Id` == @user_id').shape[0]
    
    # Compute loyalty points
    points = calculate_loyalty_points(
        user_id, games_played, deposit_amount, withdrawal_amount, deposit_count, withdrawal_count
    )
    
    # Store the results in the dictionary
    user_points[user_id] = {
        'Loyalty Points': points,
        'Games Played': games_played
    }

In [51]:
# Convert the user_points dictionary into a DataFrame
user_points_df = pd.DataFrame.from_dict(user_points, orient='index').reset_index()

# Rename the 'index' column to 'User_Id'
user_points_df.rename(columns={'index': 'User_Id'}, inplace=True)

# Rank users by 'Loyalty Points' and use 'Games Played' as a tiebreaker
user_points_df.sort_values(by=['Loyalty Points', 'Games Played'], ascending=[False, False], inplace=True)

# Reset the index for a clean DataFrame
user_points_df.reset_index(drop=True, inplace=True)

# Display the ranked users
print("Ranked Users by Loyalty Points for October:\n", user_points_df)

Ranked Users by Loyalty Points for October:
      User_Id  Loyalty Points  Games Played
0        634       61121.160            22
1        714       14790.824             4
2        212       13947.217             0
3        672       13238.624             8
4         99       12469.948             4
..       ...             ...           ...
991       49           0.200             1
992      388           0.200             1
993      507           0.200             1
994      546           0.200             1
995      771           0.200             1

[996 rows x 3 columns]



**Question No: 3 What is the average deposit amount?**

In [52]:
# Calculate and display the average deposit amount
print("Average Deposit Amount:", deposit_data['Amount'].mean())

Average Deposit Amount: 5492.185399701801

**Question No:4. What is the average deposit amount per user in a month?**

In [53]:
# Calculate and print the average deposit amount per user
average_deposit_per_user = deposit_data.groupby('User Id')['Amount'].sum().mean()

print("Average Deposit Amount Per User in the Month:", average_deposit_per_user)

Average Deposit Amount Per User in the Month: 104669.64918032786

**Question No:5 What is the average number of games played per user?***

In [55]:
# Calculate and print the average number of games played per user
average_games_per_user = gameplay_data.groupby('User ID')['Games Played'].sum().mean()

print("Average Number of Games Played Per User:", average_games_per_user)

Average Number of Games Played Per User: 355.267

**PART B - How much bonus should be allocated to leaderboard players**
*

In [57]:
# Calculate loyalty points for each player
loyalty_points = {
    user_id: (
        (0.01 * deposit_data[deposit_data['User Id'] == user_id]['Amount'].sum()) +
        (0.005 * withdrawal_data[withdrawal_data['User Id'] == user_id]['Amount'].sum()) +
        (0.001 * max(deposit_data[deposit_data['User Id'] == user_id].shape[0] - withdrawal_data[withdrawal_data['User Id'] == user_id].shape[0], 0)) +
        (0.2 * gameplay_data[gameplay_data['User ID'] == user_id]['Games Played'].sum())
    )
    for user_id in set(gameplay_data['User ID']).union(deposit_data['User Id'], withdrawal_data['User Id'])
}

# Create DataFrame for loyalty points
loyalty_df = pd.DataFrame(list(loyalty_points.items()), columns=['User Id', 'Loyalty Points'])

# Identify top 50 players by loyalty points
top_50 = loyalty_df.nlargest(50, 'Loyalty Points')

# Calculate total loyalty points and total games played for top 50 players
total_loyalty_points = top_50['Loyalty Points'].sum()
total_games_played = gameplay_data[gameplay_data['User ID'].isin(top_50['User Id'])]['Games Played'].sum()

# Bonus pool allocation
total_bonus_pool = 50000
loyalty_weight = 0.7
games_weight = 0.3

top_50['Points Bonus'] = (top_50['Loyalty Points'] / total_loyalty_points) * total_bonus_pool * loyalty_weight
top_50['Games Bonus'] = (top_50['Loyalty Points'] / total_games_played) * total_bonus_pool * games_weight

# Calculate total bonus for each player
top_50['Total Bonus'] = top_50['Points Bonus'] + top_50['Games Bonus']

# Display the top players with their bonus allocations
print(top_50[['User Id', 'Loyalty Points', 'Total Bonus']])

     User Id  Loyalty Points   Total Bonus
634      634       83843.325  47772.048916
99        99       23665.737  13484.206949
672      672       22757.780  12966.873384
212      212       22199.282  12648.653731
740      740       19211.824  10946.467067
566      566       19153.755  10913.380651
714      714       16764.234   9551.885099
421      421       15446.460   8801.046985
369      369       14438.444   8226.702043
30        30       14053.375   8007.298350
587      587       13638.881   7771.128951
222      222       13348.803   7605.849003
352      352       13040.650   7430.270325
365      365       12855.075   7324.533846
920      920       12535.800   7142.618101
162      162       12483.600   7112.875710
415      415       12304.415   7010.780110
569      569       12285.423   6999.958894
786      786       12097.216   6892.722760
2          2       12040.475   6860.393009
238      238       11638.838   6631.549241
992      992       11627.777   6625.246931
28        28       10622.449   6052.433551
538      538       10298.616   5867.920760
208      208        9840.406   5606.842963
989      989        9789.200   5577.666931
978      978        9399.005   5355.342559
915      915        9340.002   5321.723971
678      678        9292.421   5294.613382
78        78        9134.900   5204.861444
909      909        9068.070   5166.783207
182      182        8840.907   5037.350817
93        93        8814.822   5022.488168
200      200        8365.783   4766.635802
259      259        8265.515   4709.505341
306      306        8260.857   4706.851317
344      344        8239.608   4694.744113
601      601        8128.062   4631.187700
515      515        7882.608   4491.333508
294      294        7633.973   4349.666853
681      681        7551.664   4302.769028
950      950        7498.395   4272.417545
675      675        7102.849   4047.044292
663      663        6981.217   3977.741102
438      438        6974.456   3973.888836
619      619        6970.413   3971.585225
245      245        6656.115   3792.505264
547      547        6410.942   3652.811179
612      612        6402.050   3647.744716
949      949        6262.112   3568.011178

**PART C -Would you say the Loyalty point formula is Fair or Unfair**

**- Can you suggest any way to make loyalty point formula more robust**

**Please Refer Reports.pdf for PART C***